body {
  background-color: #282c34;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

:root {
  --color-button-1: #ff6150;
  --color-button-1-highlight: #ff8c80;
  --color-button-2: #1ac0c6;
  --color-button-2-highlight: #34dfe5;
  --color-button-3: #134e6f;
  --color-button-3-highlight: #1a4a69;
  --color-button-4: #ff8a22;
  --color-button-4-highlight: #ffb84d;
}

.s-view {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
